@import "mixins";
@import "vars";
@import "reset";
@import "fonts";

body {
    font-family: "Comforta",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: $black;
    overflow-y: auto;
    background-color: rgb(238, 238, 238);

    &.no-scroll{
        overflow-y: hidden;
    }
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block !important;
}

.d-none{
    display: none !important;
}

.muted{
    opacity: .6;
}

.w-100{
    width: 100% !important;
}

.w-50{
    width: 50% !important;
}

.h-100{
    height: 100% !important;
}

.jc-center{
    justify-content: center !important;
}

.bold{
    font-weight: 700
}

h1{
    font-weight: 800;
    font-size: 55px;
    line-height: 65px;
}

h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
}

h3{
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}

h4{
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
}

h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

@include breakpoint($table-bp) {
    h1{
        font-size: 40px;
        line-height: 45px;
    }

    h2{
        font-size: 30px;
        line-height: 40px;
    }

    h3{
        font-size: 24px;
        line-height: 34px;
    }

    h4{
        font-size: 20px;
        line-height: 30px;
    }

    h5{
        font-size: 16px;
        line-height: 26px;
    }

    h6{
        font-size: 14px;
        line-height: 24px;
    }
}

@include breakpoint($mobile-bp) {
    h1{
        font-size: 36px;
        line-height: 46px;
    }
}


@import "grid";
@import "sliders";
@import "pet-card";

@import "header";
@import "footer";

@import "home/_1_";
@import "pet/_1_";

@import "vendors/tiny-slider";