.adoptions_list{
    padding: 30px 60px;

    &:not(:first-child){
        padding-top: 0;
    }

    @include breakpoint($desktop-1440){
        padding: 30px 0px;
    }

    .pet-card{
        margin: 10px;
    }
}