<header>
    <div class="header__logo" style="background-image: url(/assets/images/logos/header.jpg);">
    </div>
    <div class="header__menu">
        <ul>
            <li>
                <a href="/">Find a pet</a>
            </li>
            <li>
                <a href="/">Breeds</a>
            </li>
            <li>
                <a href="/">Health&Care Articles</a>
            </li>
            <li>
                <a href="/">About us</a>
            </li>
        </ul>
    </div>
</header>