<section class="home-advantages">
    <h2 class="section-title">
        Your new <span class="pink">best friend</span> is waiting for you
    </h2>
    <div class="home-advantages__list">
        <div class="home-advantages__item">
            <div class="container">
                <div class="preview">
                    <div class="icon foot" style="background-image: url(/assets/images/svg/foot.svg);"></div>
                </div>
                <div class="title">
                    Huge animal database
                </div>
                <div class="text">
                    We help pets to find a loving family and become happy.
                </div>
            </div>
        </div>
        <div class="home-advantages__item">
            <div class="container">
                <div class="preview">
                    <div class="icon ball-of-yarn" style="background-image: url(/assets/images/svg/ball-of-yarn.svg);"></div>
                </div>
                <div class="title">
                    Trusted marketplace
                </div>
                <div class="text">
                    Only ID verifyed shelters, breeders and other sellers.
                </div>
            </div>
        </div>
        <div class="home-advantages__item">
            <div class="container">
                <div class="preview">
                    <div class="icon house-love" style="background-image: url(/assets/images/svg/house-love.svg);"></div>
                </div>
                <div class="title">
                    Ease adoption process
                </div>
                <div class="text">
                    Get new friend just in few simple steps.
                </div>
            </div>
        </div>
    </div>
</section>