<section class="home-intro">
    <div class="home-intro__block">
        <div class="home-intro__introduction">
            <h1>
                Find your perfect match
            </h1>
            <p class="sub-title">
                Search pets from shelters, breeders & other ID verified sellers
            </p>
        </div>
    </div>
    <div class="home-intro__block">

        <div class="" id="qp9wd819h2gio12hb9d102d8g">
            <div class="inner"></div>
        </div>

        <div class="" id="wuqfg8712gf0891hd81hpq8h">
            <img src="/assets/images/pets/pet4.jpg" alt="">
        </div>

        <div class="" id="opifdbiogwr189p2gre8912pger">
            <img src="/assets/images/pets/pet6.jpg" alt="">
        </div>

        <div class="" id="iuwbfpgh289fg18hdpf8o21he8d12h">
            <img src="/assets/images/pets/pet7.jpg" alt="">
        </div>
    </div>
</section>