<section class="home-intro">
    <div class="home-intro__block">
        <div class="home-intro__introduction">
            <h1>
                Find your perfect match
            </h1>
            <p class="sub-title">
                Search pets from shelters, breeders & other ID verified sellers
            </p>
        </div>
    </div>
    <div class="home-intro__block">
        <!-- figures -->
        <div class="" id="qp9wd819h2gio12hb9d102d8g">
            <div class="inner"></div>
        </div>
        <div class="" id="qihwofuqwgbfq8hfr089hwqhf">
            <div class="left"></div>
            <div class="right"></div>
            <div class="inner"></div>
        </div>
        <div class="" id="aoqohwif8092h1hr1oi2hr12h">
            <div class="top"></div>
            <div class="bottom"></div>
        </div>
        <div class="" id="wqbfduoiwqbfq89wh1280992fd">
            <div class="left"></div>
            <div class="right"></div>
            <div class="inner"></div>
        </div>
        <div class="" id="whqid901h290r0921h09rh1920rn">
            <div class="left"></div>
            <div class="right">
                <div class="top"></div>
                <div class="bottom">
                    <div class="inner"></div>
                </div>
            </div>
        </div>
        
        <!-- pets photos -->
        <div class="" id="wuqfg8712gf0891hd81hpq8h">
            <img src="/assets/images/pets/pet4.jpg" alt="">
        </div>

        <div class="" id="opifdbiogwr189p2gre8912pger">
            <img src="/assets/images/pets/pet6.jpg" alt="">
        </div>

        <div class="" id="iuwbfpgh289fg18hdpf8o21he8d12h">
            <img src="/assets/images/pets/pet7.jpg" alt="">
        </div>
    </div>
</section>