<div class="modal" id="pet-request-modal">
    <div class="modal-container">
        <form action="">
            <div class="title">
                Please, enter your contact data for shelter.
            </div>
            <div class="form-data">
                <input type="text" class="email" name="email" placeholder="Enter email">
                <small class="error">Please, enter your email in format example@mail.com</small>
            </div>
            <button type="submit">Send request</button>
        </form>
    </div>
</div>