<div class="pet-card">
    <div class="pet-card__tag">
        Rescue
    </div>
    <div class="pet-card__image" style="background-image: url({{  petimage }});">
    </div>
    <div class="pet-card__content">
        <a href="/pet.html">
            <div class="pet-card__main-info">
                <div class="pet-card__name">
                    Archie
                </div>
                <div class="pet-card__breed">
                    Australian Cattle Dog
                </div>
                <div class="pet-card__locations">
                    RSPCA Sydney (Yagoona)
                </div>
            </div>
            <div class="pet-card__footer">
                <div class="pet-card__sex male">
                    Male
                </div>
                <div class="pet-card__old">
                    6 years
                </div>
                <div class="pet-card__bank">
                    TBC
                </div>
            </div>
        </a>
    </div>
</div>